.exam-content {
    position: relative;
}
.instruction-footer {
  position: absolute;
  right: 0;
  left:0;
  bottom: 0;
}
.instruction-foot-content {
  height: 80px;
  background-color: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  bottom: 0;
  color: #58666e;
  padding: 20px;
}




#question-navigator{
    height: calc(100% - 192px);
    bottom:200px;
    margin-bottom:5px;
    text-align:center;
    padding-left: 25px;
    padding-right: 25px;
}
#question-navigator h4{
    text-align:left;
    margin-left:15px;
}

#question-navigator .left-full {
    margin-top: 20px;
}
#question-navigator .left-full button{
    width: 100%;
}
#navigator-in li {
    list-style-type: none;
    margin-right: 2px;
    display: inline-block;
    height: 32px;
    min-width: 35px;
    cursor: pointer;
    width:44px;
    border: 2px solid #717171;
}
#navigator-in li:hover {
    border: 2px solid #ad9000;
}
#navigator-in li span{
    padding: 7px 0px;
    display: block;
    position: relative;
    float: left;
    color:#000;
    width:100%;
    text-align:center;
}
#navigator-in {
    padding:0px 4px;
    text-align: left;
    margin: 10px 0px 0px 2px;
    color: #fff;
}
#navigator-in .notvisited{
    background: #9c9c9c;
    border-radius: 8px;
}
#navigator-in .notanswered{
    background: #f94141;
    border-radius: 8px;
    border: 2px solid #ab0000;
}
#navigator-in .answered{
    background: #66bb6a;
    border-radius: 8px;
    border: 2px solid #00900b;
}

#navigator-in .reviewnext{
    background: #556aff;
    border-radius: 8px;
    border: 2px solid #32317d;
}
#navigator-in .attemptedreview{
    background: #556aff;
    border-radius: 8px;
    border: 2px solid #32317d;
}
#navigator-in .attemptedreview:before {
content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 1px;
    right: 1px;
    background: #66bb6a;
    border-radius: 10px;
    border: 1px solid #409c10;
}
.btn-group{
    float: right;
    margin-right: 10px;
}

.inner-board {
    overflow-x: hidden;
    overflow-y: scroll;
}
.block_questions {
    display: none;
}
.question_txt .question_txt_in, .question_txt span {
    float: left;
}
.question_txt .question_txt_in {
    font-size: 22px;
    width: 100%;
    font-weight: bold;
    text-transform: capitalize;
}
.question_txt .badge {
    font-weight: 600;
    padding: 6px 12px;
    font-size: 21px;
    margin-top: 1px;
    margin-right: 15px;
}
.question_options {
    margin-left: 50px;
    font-size: 20px;
}
.question_options p {
    line-height: 15px;
    font-size: 20px;
}